# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Console_HelloWorld/Console_HelloWorld/bin/
Console_HelloWorld/Console_HelloWorld/obj/
#Console_HelloWorld/.vs/

**/.vs/
#jupyter note/.vs/
jupyter note/.ipynb_checkpoints/
